@import './app-theme';
@import './styles/api';
@import './styles/markdown';
@import './styles/tables';
@import './styles/general';

// Include material core styles.
@include mat-core();

@include angular-material-theme($theme);
@include material-docs-app-theme($theme);

$theme-image-path: '~@gsa-sam/sam-styles/src/img';
$theme-font-path: '~@gsa-sam/sam-styles/src/fonts';

@import '~@gsa-sam/sam-styles/src/stylesheets/sam';


table-of-contents {
  display: none !important;
}
