.docs-footer {
  padding: 12px;
  font-size: 12px;
  margin-top: 40px;
}

.docs-footer-list {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  padding: 8px;
}

.docs-footer-version {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  .version {
    margin: 0 40px;
  }
}

a {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

@media screen and (max-width: 884px){
  .docs-footer-list {
    flex-direction: column;
  }
}
